{% extends "base.html" %}

{% block title %}Photo Album - {{ photo_dir }}{% endblock %}

{% block content %}
<h2>{{ photo_dir }}<small>{{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ paginator.count }} photos</small></h2>

{% if page_obj.has_other_pages %}
<ul class="pager">

{% if page_obj.has_previous %}
	<li><a href="?page={{ page_obj.previous_page_number }}">
{% else %}
	<li class="disabled"><a>
{% endif %}
	<span class="glyphicon glyphicon-chevron-left" /></a></li>

	<li>{{ page_obj.number }} of {{ paginator.num_pages }}</li>

{% if page_obj.has_next %}
	<li><a href="?page={{ page_obj.next_page_number }}">
{% else %}
	<li class="disabled"><a>
{% endif %}
	<span class="glyphicon glyphicon-chevron-right" /></a></li>
</ul>
{% endif %}

<ul class="list-inline">
{% for photo in object_list %}
<li>
	<a href="./{{ photo.name }}">
		<img src="{{ photo.thumb_path }}"
		     class="img-responsive img-thumbnail"
		     alt="{{ photo.name }}" />
	</a>
</li>
{% endfor %}
</ul>

{% endblock %}
