{% extends "base.html" %}

{% block title %}{{ photo_dir }}/{{ photo_file }}{% endblock %}

{% block content %}

<ul class="pager">

{% if has_previous %}
	<li><a href="{{ previous_link }}">
{% else %}
	<li class="disabled"><a>
{% endif %}
    Previous</a></li>

    <li><a href=".">Up</a></li>

{% if has_next %}
	<li><a href="{{ next_link }}">
{% else %}
	<li class="disabled"><a>
{% endif %}
    Next</a></li>
</ul>

{% if portrait %}
<div class="portrait">
{% else %}
<div class="landscape">
{% endif %}
    <span class="hidden-xs hidden-sm hidden-md photo-lg photo-container center-block">
        <img src="{{ photo_path }}" />
    </span>
    <span class="hidden-xs hidden-sm hidden-lg photo-md photo-container center-block">
        <img src="{{ photo_path }}" />
    </span>
    <span class="hidden-xs hidden-md hidden-lg photo-sm photo-container center-block">
        <img src="{{ photo_path }}" />
    </span>
    <span class="hidden-sm hidden-md hidden-lg photo-xs photo-container center-block">
        <img src="{{ photo_path }}" />
    </span>
</div>

{% endblock %}
